.ganttChartCont {
    position: relative;
    height: 19px;
}

.arrtoolTip{display: none;       position: absolute;
    background: #fff;
    color: #333;
        top: -5px;
    font-size: 11px;
    padding: 2px 7px;
    border-radius: 3px;
    box-shadow: 0px 1px 1px 0px #777777;
    z-index: 9;
    white-space: nowrap;

}






.percentageTxt{color:#fff; font-size: 13px; padding: 0 5px;} 